* {
  font-family: "Space Mono", monospace;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: white;
}

.form {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.themes {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.themes button {
  display: flex;
  align-items: center;
  background-color: transparent;
  gap: 10px;
  border: none;
  cursor: pointer;
}

.search-user {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  border-radius: 10px;
}

.search-user img {
  position: absolute;
  left: 20px;
}

.search-user input {
  margin-left: 50px;
  outline: none;
  width: 50%;
  padding: 5px;
  background-color: transparent;
  border: none;
  transition: all 300ms ease;
}

.search-user button {
  width: 80px;
  background: #0079ff;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  cursor: pointer;
}

.search-user button:hover {
  filter: saturate(300%);
}

.info {
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
  padding: 20px;
  padding-left: 20%;
  position: relative;
}

.fecha {
  position: absolute;
  right: 20px;
  top: 25px;
}

.name {
  display: flex;
  align-items: center;
  gap: 30px;
}

.name img {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  left: 20px;
  top: 30px;
}

.login h2 {
  text-transform: capitalize;
  font-size: 20px;
}

.login strong {
  color: #0079ff;
  font-size: 14px;
}

.login p {
  font-size: 14px;
}

.bio {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 46px;
  margin-top: 10px;
  word-wrap: break-word;
}

.counter {
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.counter div {
  display: flex;
  flex-direction: column;
}

.numbers {
  font-weight: bold;
}

.info-red {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  gap: 20px;
}

.info-red span {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 40%;
  word-wrap: break-word;
  overflow-x: auto;
  font-size: 1rem;
  min-height: 50px;
}

.info-red span a {
  text-decoration: none;
}

.info-red span img {
  width: 1rem;
}

.no-result {
  color: rgba(255, 0, 0, 0.61);
  font-size: 12px;
  position: absolute;
  top: 15px;
  right: 120px;
}

@media (width < 650px) {
  .form {
    width: 450px;
  }

  .info {
    padding-left: 20px;
  }
  .name img {
    position: initial;
  }

  .fecha {
    position: initial;
  }
  .no-result {
    right: 100px;
  }

  .bio {
    margin-top: 20px;
  }

  .no-result {
    width: 20px;
    right: 120px;
    top: 9px;
    font-size: 10px;
  }
}

@media (width < 450px) {
  .form {
    width: 350px;
  }
}
